</div>
<div class="container">
 <div id="welcome-greeting"><h1>Somos Debian Nicaragua</h1><h2>Este es el sitio web oficial de la comunidad Debian Nicaragua. Somos un grupo dedicado a promover el uso y desarrollo de herramientas de software libre, en particular <a href="http://www.debian.org">Debian GNU/Linux</a>, uno de los sistemas operativos libres más antiguos y de gran prestigio por su estabilidad y calidad. <br><br> En este sitio, podrás encontrar algunos artículos, enlaces interesantes, y noticias sobre nuestros eventos y proyectos. También encontrarás diversas formas de ponerte en contacto con nosotros.</h2> <hr />

      </div>
  </div>

  <div class ="container">
