<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link href="http://debiannicaragua.github.io/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://debiannicaragua.github.io/css/hc.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
    <body>
<div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Debian Nicaragua </div>
      <div id = "wrapper">      


<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">{{ site.name }}</p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/index.html">Inicio</a></li>
          <li><a href="{{ site.baseurl }}/list.html">Archivos</a></li>
          <li><a href="{{ site.baseurl }}/about.html">Acerca de</a></li>
          <li><a href="{{ site.baseurl }}/credits.html">Créditos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



       <!-- Sidebar -->
       <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <!-- <li class="sidebar-brand"><a href="{{ site.url }}"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
          <hr /> -->
          <li class="sidebar-brand"><a href="{{ site.url }}/index.html"><img src="{{ site.url }}/images/debian-ni-logo.png" alt="" /></a></li>
          <hr /> 
          <li><a href="{{ site.baseurl }}/list.html">Archivos</a></li>
          <li><a href="{{ site.baseurl }}/about.html">Acerca de</a></li>
          <li><a href="{{ site.baseurl }}/credits.html">Créditos</a></li>
          <hr />
          <div id="social-wrapper">
           <li> <a href="{{ site.mailinglist }}"><i class="fa fa-envelope"></i> lista de correos</a> </li>
           <li> <a href="{{ site.wiki }}"><i class="fa fa-pencil"></i> wiki</a> </li>
           <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook"></i> facebook</a></li>
           <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter"></i> twitter</a></li>
           <!-- <li> <a href="{{ site.identica }}"><i class="fa fa-comments"></i> identica</a></li> -->
           <li> <a href="{{ site.irc }}"><i class="fa fa-comment"></i> irc</a></li>
           <li> <a href="{{ site.github }}"><i class="fa fa-github-alt"></i> github</a> </li>
         </div>
       </ul>
     </div>



     <div class="container">
       
